[submodule "lib/jupyterlab"]
	path = lib/jupyterlab
	url = https://github.com/jupyterlab/jupyterlab.git
[submodule "lib/react"]
	path = lib/react
	url = https://github.com/facebook/react.git
	branch = main
